:root{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    --transition-speed: 600ms;
    /* --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4; */
}

body{
    box-sizing: border-box;
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background-color: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background-color: #6649b8;
}

main{
    margin-left: 5rem;
    padding: 1rem;
}



.navbar{
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
}

.navbar-nav{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item{
    width: 100%;
}

.nav-item:last-child{
    margin-top: auto;
}

.logo{
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg{
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.navbar:hover .logo svg{
    transform: rotate(-180deg);
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text{
    display: none;
    margin-left: 1rem;
}

.nav-link svg{
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary{
    color: #ff7eee;
}

.fa-secondary{
    color: #df49a6;
}

.fa-primary,
.fa-secondary{
    transition: var(--transition-speed);
}



/* Themes */

.light{
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
}

.dark{
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

.solar{
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
}

.theme-icon{
    display: none;
}

/* When the theme is light, is the next theme dark, which is why the next icon the dark icon is. When the theme is dark, is the next theme then solar, which is why then the solar icon is shown */

.dark #solarIcon{
    display: block;
}

.light #darkIcon{
    display: block;
}

.solar #lightIcon{
    display: block;
}


/* Small screens */
@media only screen and (max-width: 600px) {
     
    .navbar{
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .navbar-nav{
        flex-direction: row;
    }

    .logo{
        display: none;
    }

    .nav-link{
        justify-content: center;
    }

    main{
        margin: 0;
    }

}

/* Large screens */
@media only screen and (min-width: 600px) {
    
    .navbar{
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover{
        width: 16rem;
    }
    
    .navbar:hover .link-text{
        display: inline;
        transition: opacity var(--transition-speed);
    }

}